<div action="container" id="formulario-listadoPagos" action="/links/pagos">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <br>
        <h2>Listado de pagos de clases</h2>
        <br>
        <br>
        <a href="/links/menu"  class="btn btn-primary">Regresar al Menú</a>
        <br>
        <br>
        <br>
    
    
<table  class="table table-hover">

        <thead>
            <tr>
                <td scope="col">Numero Cuenta</td>
                <td scope="col">Nombre Alumno</td>
                <td scope="col">Clases Matriculadas</td>
                <td scope="col">Estado</td>
                <td scope="col">Acciones</td>
            </tr>
        </thead>
        <tbody>
            {{#each links}}

                <tr>
                    <td>{{numeroCuenta}}</td>
                    <td>{{nombreCompleto}}</td>
                    <td>{{clasesMatriculadas}}</td>
                    <td>{{estado}}</td>
                    <td>
                        <a class="btn btn-primary" href="/links/verListaClasesAlumno/{{numeroCuenta}}"> Ver lista</a>    
                    </td>

                </tr>
                
                
            {{/each}}
        </tbody>
    </table>



    </div>
</div>


</div>